{% extends 'root.html' %}

{% block content %}

    {% for post in page %}
        <div>
            <h3>{{post.title}}</h3>
            <p>{{post.text|truncatechars:30}}</p>
            <p>{{post.author}}</p>
        </div>
    {% endfor %}

    <div style="display: flex; align-items: center;">
        {% if page.has_previous %}
            <a href="{% url 'posts:posts' page.previous_page_number %}">< </a>
        {% endif %}
        <p> {{page.number}} </p>
        {% if page.has_next %}
            <a href="{% url 'posts:posts' page.next_page_number %}"> ></a>
        {% endif %}
    </div>

{% endblock %}